.lead {
    max-width: 984px;
    min-height: 1005px;
    margin: 56px auto;
}

@media screen and (max-width: 1279px){
    .lead {
        margin-top: 48px;
        min-height: 962px;
        max-width: 984px;
    }
}

@media screen and (max-width: 1023px){
    .lead {
        margin-top: 48px;
        min-height: 862px;
    }
}

@media screen and (max-width: 767px){
    .lead {
        min-height: 406px;
        margin-top: 48px;
    }
}